<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <!--Zero Blob Detection Variables-->
      <add key="ZeroRed" value="5"/>
      <add key="ZeroGreen" value="240"/>
      <add key="ZeroBlue" value="5"/>
      <add key="ZeroMinSize" value="12"/>
      <add key="ZeroMaxSize" value="16"/>
      <add key="ZeroRadius" value="180"/>

      <!--Ball Blob Detection Variables-->
      <add key="BallRed" value="251"/>
      <add key="BallGreen" value="254"/>
      <add key="BallBlue" value="150"/>
      <add key="BallMinSize" value="8"/>
      <add key="BallMaxSize" value="16"/>
      <add key="BallRadius" value="50"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
