<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Zero Blob Detection Variables-->
    <add key="ZeroRed" value="5" />
    <add key="ZeroGreen" value="240" />
    <add key="ZeroBlue" value="5" />
    <add key="ZeroMinSize" value="14" />
    <add key="ZeroMaxSize" value="20" />
    <add key="ZeroRadius" value="180" />
    <!--Ball Blob Detection Variables-->
    <add key="BallRed" value="251" />
    <add key="BallGreen" value="254" />
    <add key="BallBlue" value="150" />
    <add key="BallMinSize" value="8" />
    <add key="BallMaxSize" value="14" />
    <add key="BallRadius" value="50" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>